seaborn
uvicorn
requests
pandas
jsonify
pydantic
numpy
matplotlib
Flask
fastapi
scikit_learn
gunicorn
certifi
chardet
click
idna
itsdangerous
Jinja2
joblib
MarkupSafe
scipy
sklearn
threadpoolctl
urllib3
Werkzeug
wincertstore
serve_favicon
